#navbar {
    position: fixed;
    top: 0;
    width: 100%;
  }
  #navbar a:hover {
    background: white;
    color: black;
    transition: 0.6s;
    text-decoration: none;
  }
  a:link {
    text-decoration: none;
  }
  #navbar a:visited {
    text-decoration: none;
    color: white;
  }
  #navbar a:hover {
    text-decoration: none;
    color: black;
  }
  a:click {
    text-decoration: none;
  }
  
  ul {
    text-align: center;
    margin: 0;
    padding: 0;
  }
  li {
    display: inline;
  }
  #welcome-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  #welcome-section img {
    height: 100vh;
    width: 100%;
  }
  
  #welcome-section h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  /* #welcome-section h1 {
    text-align: center;
    margin: 0;
    padding: 0;
  } */
  #projects {
    background-color: rgb(254, 252, 205);
    height: 100vh;
  }
  
  #contact {
    background-color: rgb(205, 231, 254);
    height: 100vh;
  }
  
  @media only screen and (min-width: 100px) {
  }
  